
body {
    font-family: sans-serif;
    background: #BBC;
    background-image: url(bg.png);
    padding: 0.5em 0;
    margin: 0;
}

h1 {
    text-align: center;
    margin-top: 0.5em;
    border-bottom: 2px #BBC solid;
}

.banner {
    margin-top: 0.5em;
    border: none;
}

#storytextarea {
    width: 100%;
}

.entrylabel {
    width: 9em;
    display: inline-block;
}

.word {
    text-decoration: underline;
}

q {
    font-style: italic;
}

span#author {
    font-style: italic;
    color: #555;
    position: relative;
    bottom: 1em;
}

span.eg {
    color: #555;
}
.eg > span {
    font-style: italic;
}

#leftbar {
    float: left;
    width: 180px;
    height: 100%;
}
#leftbar > div {
    padding-left: 1em;
    border-bottom: thin #DDD solid;
}

#mainbox {
    margin-left: 180px;
    padding: 1em;
}
#footer {
    clear: both;
    border-top: thin #DDD solid;
    color: #DDD;
    margin-left: 2em;
    font-size: small;

}
#cols {
    background: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 9px #888;
    -webkit-box-shadow: 0px 0px 9px #888;
    box-shadow: 0px 0px 9px #888;
}

.gamelist > li {
    line-height: 1.2em;
}

@media (min-width: 700px) {
    #cols {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
    }
}
@media handheld, (max-width: 450px) {
    #mainbox {
        clear: both;
        margin-left: 0px;
    }
    #leftbar {
        width: 100%;
    }
    .gamelist > li {
        display: inline;
        padding-right: 1em;
    }
}
}